# Postgres Database Credentials
POSTGRES_USER=root
POSTGRES_PASSWORD=rootpassword
POSTGRES_DB=nova_booking_db

# Database URL (localhost for local dev, db for docker)
DATABASE_URL="postgresql://root:rootpassword@localhost:5435/nova_booking_db?schema=public"

# Application Security
JWT_SECRET="your_jwt_secret_here"
PORT=3001

# Cloudinary Credentials
CLOUDINARY_NAME=your_name
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=truongdaik90@gmail.com
SMTP_PASS=your_gmail_app_password
SMTP_FROM="Nova Booking <no-reply@your-domain.com>"
FRONTEND_URL=http://localhost:3000
